@layer reset, elements, providers, app, overrides;

@layer elements {
  body {
    margin: 2rem 10dvw;
    color: black;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background: white;
  }

  button {
    cursor: pointer;
  }

  main {
    display: grid;
    h1 {
      font-size: 3.6rem;
      font-weight: 700;
    }
    p {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}

@layer overrides {
  .st-catalog-carousel,
  .st-catalog-listing {
    background: transparent;
    color: black;
  }

  .st-catalog-listing {
    article {
      border-top: 1px solid gray;
      margin-block: 0;
      padding-block: 2rem;
    }
    img {
      border: 1px solid black;
      padding: 0.125rem;
    }
    .btn-add {
      background: green;
      border: 1px solid green;
      border-radius: 0.25rem;
      color: white;
      font-weight: 700;
    }
  }
}
